<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body class="primary-font">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md bordered-header">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <br>
                    <br>
                </li>
        </div>
    </nav>
    <main>
        <section>
            <div class="container-fluid centered-container">
                <div class="row empty-row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row centered-text bolder-text">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        Welcome to fGame!
                        <br>
                        The goal of the game is to predict what everyone else will answer and to answer as the majority!
                        <br>
                        You get points if answered as the majority.
                        <br>
                        Enter username and your name:
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row empty-row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8 bolder-text">
                        <form action="/" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="username" class="form-control" id="usernameInput" name="username"
                                    placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="firstname">Name</label>
                                <input type="firstname" class="form-control" id="firstnameInput" name="firstname" placeholder="Name">
                            </div>
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <nav class="navbar navbar-expand-md navbar-dark primary-font">
    </footer>
</body>

</html>