<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body class="primary-font">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md bordered-header">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <br>
                    <br>
                </li>
        </div>
    </nav>
    <main>
        <section>
            <div class="container-fluid centered-grid">
                <div class="row empty-row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row empty-row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2 bolder-text centered-elements">
                        <a href="create"><button class="btn btn-danger">Create room</button></a>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="row empty-row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2 bolder-text">
                        <form class="centered-grid" action="/menu" method="post">
                            <div class="form-group">
                                <input type="roomCode" class="form-control " id="roomCodeInput"
                                    placeholder="Enter room code" name="roomCode">
                            </div>
                            <button type="submit" class="btn btn-success">Join room</button>
                        </form>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <nav class="navbar navbar-expand-md navbar-dark primary-font">
    </footer>
</body>

</html>